header,
footer {
  @apply h-12 p-4 bg-white;
}

.page-enter-active,
.page-leave-active {
  @apply transition-all duration-500;
}
.page-enter,
.page-leave-to {
  @apply opacity-0;
}

.drop-down-nav-enter-active,
.drop-down-nav-leave-active {
  @apply transition-all duration-500;
}
.drop-down-nav-enter,
.drop-down-nav-leave-to {
  @apply transform -translate-y-full opacity-0 ease-linear;
}
