<template>
  <div
    class="flex items-center justify-center w-full min-h-screen text-4xl font-light"
  >
    Development in progress
  </div>
</template>

<script>
export default {
  head: {
    title: 'Development in progress',
  },
}
</script>
