<template>
  <div class="header-nav">
    <nuxt-link to="/">ГЛАВНАЯ</nuxt-link>
    <span>БЛОГ</span>
    <span>ОБО МНЕ</span>
  </div>
</template>

<script>
export default {
  name: 'AvBlogHeaderNav',
}
</script>
